body{
  text-align: center;
  font-family: fantasy;
  background-color: teal;
  color: white;
}

h1{
  color: #94fce6;
}

ul{
  font-style: italic;
  line-height: normal;
}

ol{
  font-style: italic;
  line-height: normal;
}

p{
  font-weight: lighter;
  font-size: 18pt
}

li{
  list-style-position: inside;
}
