body{
  text-align: center;
  font-family: fantasy;
  background-color: teal;
  color: white;
}

h1{
  color: #94fce6;
}

ul{
  font-style: italic;
  line-height: normal;
}

ol{
  font-style: italic;
  line-height: normal;
}

p{
  font-weight: lighter;
  font-size: 18pt
}

li{
  list-style-position: inside;
}

.flashy{
  color: #94fccb;
}

.best{
  color: #fc968a;
  text-shadow: 2px 2px black;
}

.lunaImg{
  float:left;
}

.aboutMe{
  color: #e5b5ff;
}
.column{
  float: left;
  width: 48%;
  height: 250px;
  border: 2px inset #71827d;
  background-color: #399390;
  padding: 4px;
  margin: 2px;
}
